
.component{


}
.uk-offcanvas-content{
    background-image: url("../images/little_girl_stock_by_daftopia-d638tfs.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}
table{
    background-color: rgba(255,255,255,0.7);
}
/**
left nav css
 */

.push-left-nav{
    position: fixed;
    left: 0;
    font-weight: bolder;
    font-size: 2vw;
    border: none;
    background-color: #222;
    color: white;
    max-width: 1px;
    height: 100%;
    top: 0;
}
.push-left-nav:hover{
    background-color: #222;
    width: 0px;
    color: white;

}

.left-nav-link{
    margin-bottom: 2vw;
    font-weight: bolder;
}
.uk-nav-primary>li>a{
    font-size: 1.5vw;
}
.uk-nav-primary>li>a i{
    margin-right: 9px;
}


/**
left nav css ended
 */











/**
members part
 */

.stu-box{
    max-height: 70%;
    padding: 0;

}
.stu-box .stu-panel-pic{
    padding: 0;
}
.stu-panel-link .stu-panel-pic:hover .stu-panel-link .lay{
 min-height: 100%;
    min-width: 100%;
}

