
*{
    outline: none;
}
body{height: 8000px}

.layer{

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    height: 100%;
    z-index: 5;
    opacity: 0;
    transition: all 1s ease-in-out;


}
.login{
    position: fixed;
    top:-100%;
    background-color: rgb(22, 55, 66);
    height: 390px;
    overflow: hidden;
    color: #ffffff;
    border-radius: 50px;
    z-index: 6;
    transition: all 1.3s ease-in-out;
    opacity: 0;
}
.log-img{
    width: 150px;
    margin-bottom: 20px;
}
.user-log{
    position: relative;
}

.user-log input{
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.49);
    border: none;
}
.logform input{
    text-align: center;
}
.user-log:before{
    content: "\f007";
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #ffffff;
    font-size: 1.1em;
    padding-right: 0.5em;
    position: absolute;
    padding-left: 5px;
    border-right: 1px solid black;
    background-color: #00a0b8;
    width: 13%;

}
.user-log:last-of-type:before{
    content: "\f023";
}
.remember{
    color: #8c8c8c;
    position: absolute;
    left: 20px;
    display: inline-block;
}
.remember::after{
    content: 'RememberMe';
    position: absolute;
    padding-left: 10px;
    top:-4px;
    display: inline-block;

}

.login hr{
    margin-top: 40px;
}
.btn-login{
    margin-top: 10px;
    border-radius:10px ;
    transition: all ease-in-out 0.5s;

}
.btn-login:hover{
    border: 1px solid white;
}


@keyframes log {
    from{
        border-radius: 20px;
    }
    to{
        border-radius: 50%;
    }
    
}



@media (min-width: 768px) {
/**
small screan
 */
    .username,.password{
        max-width: 100%;
    }
}
@media (min-width: 992px) {
    /**
    mid screan
     */
    .username,.password{
        max-width: 100%;
    }
}
@media (min-width: 1200px) {
/**
large screen
 */
}
@media (max-width: 768px) {
    /**
extra small screan
 */
    .login{
        top:0%;
    }

}